/* GLOBAL */

.navbar-light .navbar-toggler{
  border-radius: 100%;
  padding: 0.4rem;
  background: #EBEBEB;
  border: none;
}

/*.rounded{
  border-radius: 1rem!important;
}*/

#video .card, #nyeste-video img{
  cursor: pointer;
}

/* TYPOGRAPHY */

.display-3{
  font-size: 2.5rem;
}